<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="20485ManikanthReddy.PingPong2D" Publisher="CN=2F0716C2-C969-4558-8AEB-9737B7AE090B" Version="1.0.0.1" ProcessorArchitecture="x86" />
  <Properties>
    <DisplayName>Ping Pong 2D</DisplayName>
    <PublisherDisplayName>ManikanthReddy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PingPong2D.App">
      <VisualElements DisplayName="Ping Pong 2D" Logo="Assets\MediumTile.png" SmallLogo="Assets\SmallLogo.png" Description="Ping Pong 2D" ForegroundText="light" BackgroundColor="#1A1A1A">
        <DefaultTile ShortName="Ping Pong 2D" ShowName="noLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>